# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
ENV/
env/
.env/

.pytest_cache/
# Distribution / packaging
*.egg-info/
dist/
build/

# Pytest
.cache
*.cover
*.log
nosetests.xml
coverage.xml
*.cover

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# Pylint
pylint-report.txt
pylint-log.txt

# Other files
*.sqlite3
*.db

# IDEs
.idea/
*.sublime-workspace
*.sublime-project

# MacOS
.DS_Store

# Logs
*.log

videos_list.py
